@import "base/normalize.scss";
@import "base/var.scss";
@import "base/fonts.scss";
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
[class*="__container"] {
	max-width: 1054px;
	box-sizing: content-box;
	margin: 0 auto;
}
